@import "normalize";
@import "skeleton";
body {
  padding-top: 50px;
}

.tagline {
}

.menu {
  li {
    a {
      font-family: "jaf-bernino-sans", 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.sidebar {
  font-size: 14px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(15,160,206,0.9);
  z-index: 99;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.overlay ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #f0f0f0;
}

/* Effects */
.overlay-door {
  visibility: hidden;
  width: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
  transition: width 0.5ss 0.3s, visibility 0s 0.8s;
}

.overlay-door.open {
  visibility: visible;
  width: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s5s;
}

.overlay-door nav {
  position: absolute;
  left: 50%;
  -webkit-transforman: translateY(-50%) translateX(-50%);
  transform: translateY(-50%50) translateX(-50%);
}

.overlay-door nav,
.overlay-door .overlay-close {
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s5ss;
}

.overlay-door.open nav,
.overlay-door.open .overlay-close {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.overlayverlay-door.close nav,
.overlay-door.close .overlay-close {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

#trigger-overlay {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 32px;
  width: 32px;
  transition: background .5s ease-in-out;
  &:hover {
    background: rgb(15,160,206);
  }
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}
