<div class="overlay overlay-door">
  <button class="overlay-close">Close</button>
    <nav>
      <ul class="menu">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
      </ul>
    </nav>
</div>
<div class="bg-1">
<a id="trigger-overlay" class="button button--wayra button--border-medium button--text-upper button--size-s button--text-thick button--inverted">
 <i class="fa fa-bars"></i>
</a>
</div>