<div class="overlay overlay-door">
  <button class="overlay-close">Close</button>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
</div>
<a id="trigger-overlay">
  <%= image_tag "menu.svg" %>
</a>
