<h1>RYAN SWAPP</h1>
<p>Some dude on the interwebz</p>
<hr/>
<div class="image-of-me">
  <%= image_tag('ryan_headshot_300w.jpg') %>
</div>
<h3>Background</h3>
<p>I am a web developer from Salt Lake City, UT. I currently attend the law school at BYU and will be graduating in 2017. I discovered a passion for programming in 2013 while attending the University of Utah, where I received a Bachelor of Science degree in Business Entrepreneurship. I spend most of my time working with Ruby and Rails, but I am fond of JavaScript and frameworks such as Meteor and Ember.</p>
<p>I prefer Lucky Charms</p>
<h3>Contact Info</h3>
<p>I can be reached by email at: <br/>ryan@swapp.sexy</p>
<p>Hit me up on the Twitter: <br />@swappticon</p>
